<p id='notice'><%= notice %></p>

<% if @user.name %>
	<p><h3>Name: <%= @user.name %></h3></p>
<% end %>

<% if @can_edit %>
	<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<hr>
<script>
  infiniteScroller.addScrollWatcher();
  infiniteScroller.getPosts();
</script>

