<% content_for :head do %>
    <!-- Start AdSense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7947323376544560",
        enable_page_level_ads: true
      });
    </script>
    <!-- End AdSense -->
<% end %>

<% metadata  @meta_hash%>
<h1 class='page_title'>Overheard at <%= @college.name %></h1>
<%= render partial: 'posts/post_loader' %>
