<div class='row'>
<% if @posts.present? %>
	<% @posts.each do |post| %>
		<%= render partial: 'posts/show_post', locals: {post: post} %>
	<% end %>
<% else %>
	<div class='no_more_posts'>
		<div>No more posts found :( </div>
		<div> <a data-toggle='modal' data-target='#submitModal'>Submit a quote</a> so there are more to read!</div>
	</div>
<% end %>

</div>
<% if @posts.length > 1 %>
  <div class='apple_pagination'>
    <%= will_paginate @posts, container: false %>
  </div>
<% end %>
