/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require social-share-button
 */

body {
  margin: 0;
	background: #F9F9F9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333; 
}

#container {
  margin: 4em 2em 0 2em;
  display: flex;
  flex-wrap: wrap;
}

#contents {
  width: 100%;
  @media screen and (orientation: landscape) {
    flex: 4;
  }
}

#sidebar {
  margin-left: 1em;
  @media screen and (orientation: landscape) {
    flex: 2;
    input {
      width: 50%;
    }
  }


  h3 {
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

}

#footer {
  margin: 4em 2em 0 2em;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1em;
  margin-bottom: 3em;
  
  a {
    text-decoration: none;
  }
}

.page_title {
	color: #990000;
}

.school-suggesstion-box{
	display: none;
}

.school-name {
	background-color: #e6e6e6;
	border-width: 1px 0px;
	border-color: #fff;
	border-style: solid;
	padding: .5em;

	&:hover {
		cursor: pointer;
		color: #990000;
	}
}
