#submit-modal {
  display: none;
  position: fixed;
  top: 0;
  width: 80%;
  margin: 10vh 10% 0 7%;
  border: 1px solid #990000;
 	background: #fff;
}

.modal-header {
  h3 {
    display: inline;
  }
  padding: 1rem;
	background: #ececec;
}

.close-modal {
  float: right;
	color: #990000;
  cursor: pointer;
}

.modal-body {
  padding: 1rem;
}

#new_post {
  label {
    display: block;
    font-size: 1.25rem;
  }

  textarea {
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 80%;
  }

  input, textarea {
    margin-bottom: 1.5rem;
    padding: .5rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}

#post-submit-btn {
  background-color: #990000;
  color: #FFF;
  border-radius: 5px;
  border: 1px solid #990000;

  &:hover {
    font-weight: bold;
  }
}

