$dark-red: #900;

#navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  color: #FFF;

 	background:  $dark-red; /* Old browsers */
 	background: -moz-linear-gradient(top,  $dark-red 0%, #6d0019 100%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $dark-red), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top,  $dark-red 0%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top,  $dark-red 0%,#6d0019 100%); /* Opera 11.10+ */
 	background: -ms-linear-gradient(top,  $dark-red 0%,#6d0019 100%); /* IE10+ */
 	background: linear-gradient(to bottom,  $dark-red 0%,#6d0019 100%); /* W3C */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' $dark-red', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

  z-index: 999;
}

.nav-element {
  a {
    text-decoration: none;
    color: #FFF;
  }

  &:hover, &:hover * {
    color: $dark-red;
    background: #FFF;
  }

  &:first-child { // logo
    font-size: 1.15em;
    font-weight: bold;
    margin-left: 2em;
    padding-right: 1.25em;
  }

  &:last-child {
    margin-left: auto;
    margin-right: 2em;
  }

  padding: .70em;
  cursor: pointer;

  // for center aligning text inside of the box 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.college-font {
  font-family: 'Graduate', 'Arial';
}


/* taken from http://mislav.github.io/will_paginate/pagination.css */
.apple_pagination {
  font-size: 1.25em;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
