<%= javascript_include_tag 'modal' %>

<div class='school-selection form-group'>
	<%= text_field_tag 'college_name', nil, class: 'school-selector form-control', autocomplete: 'off' %>
	<div class='school-suggesstion-box'></div>
</div>